.app-content {
  margin: 3rem auto;
  width: 30rem;

  @media screen 
    and (min-width: 320px) 
    and (max-width: 640px) {
      margin: 3rem 0 0;
      width: 100%;
  }

  .active {
    background-color: #1cb841;
  }

  .non-active {
    background-color: #ca3c3c;
  }

  .album-item {
    padding: .5rem;

    &:nth-of-type(even) {
      background-color: #ddd;
    }

    &:nth-of-type(odd) {
      background-color: #eee;
    }
  }
}

.header-menu {
  background-color: #333;
  color: #eee;

  position: fixed;
  top: 0;

  .pure-menu-heading {
    cursor: default;
    margin-top: .5rem;
  }

  .logout {
    float: right;
    margin: .5rem 1rem;
  }

  .not-displayed {
    visibility: hidden;
  }
}

.pure-form {
  padding-top: 1rem;

  @media screen 
    and (min-width: 320px) 
    and (max-width: 640px) {
      padding: 1rem;

      .form-control {
        width: 100%;
      }  
    }
}